@model ScopeLap.Models.DataBaseEngine.Car


<div class="modal fade" id="createCarModal" tabindex="-1" aria-labelledby="createCarModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCarModalLabel">Добавление автомобиля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <br>
                        <div class="form-group" style="color: red">@TempData["ErrorMessage"]</div>
                        <br>
                    }
                    <div class="form-group">
                        <label asp-for="Manufacturer" class="control-label">Марка</label>
                        <input asp-for="Manufacturer" class="form-control" />
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label">Модель</label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Описание (обязательно):</label>
                        <textarea asp-for="Description" rows="2" class="form-control" placeholder="объем двигателя - лс - МКПП/АКПП"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Modified" />Автомобиль модифицирован под трек
                        </label>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="ModDescription" class="control-label">Описание модификации автомобиля:</label>
                        <textarea asp-for="ModDescription" rows="2" placeholder="необязательное поле" class="form-control"></textarea>
                        <span asp-validation-for="ModDescription" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" asp-controller="Cars" asp-action="Create" formmethod="post" class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>