@{
    ViewData["Title"] = "О проекте";
}

<div class="text-center">
    <h1 class="display-4">ScopeLap</h1>
    
    <main style="text-align:justify;">
        <div>
            Проект ScopeLap является итоговой квалификационной работой обучающегося Университа ИТМО Винникова А.А. 
            по программе «Разработчик профессионально ориентированных компьютерных технологий».
        </div>
        <br />
        <div>
            Проект представляет собой систему учета личных результатов посетителей гоночной трассы Нюрбургринг с элементами социальных сетей.<br />
            <ul>
                Посетители трассы (далее, также -  пользователи) могут:
                <li>
                    регистрироваться на сайте;
                </li>
                <li>
                    создавать "заезды" с результатами прохождения трассы, включая время, используемый автомобиль, конфигурацию (длинну трассы), некоторую другую дополнительную информацию;
                </li>
                <li>
                    все пользователи могут смотреть заезды всех других пользователей, но редактировать и удалять заезды могут только пользователи, создавшие их (мера безопасноти реализуется путем авторизации пользователей на сайте);
                </li>
                <li>
                    пользователи могут публиковать (создавать, редактировать, удалять) посты текстового содержания;
                </li>
                <li>
                    пользователи могут комментировать (создавать, редактировать, удалять) посты пользователей;
                </li>
                <li>
                    авторы постов могут удалять всё комментарии, относящиеся к посту. редактировать коммантарии могут только их создатели.
                </li>
            </ul>

            <br/>
            Создание проекта вдохновлено гоночными автосимуляторами (Assetto Corsa, Forza Motorsport) и спортивными приложениями (Garmin Connect, VK шаги), 
            которые объединяют людей в круги с общими интересами и вовлекают их во взаимодействие путем игроизации деятельности.
            
        </div>
    </main>


</div>


    

</div>
