@using ScopeLap.Models.DataBaseEngine;
@model Commentary

@{
    ViewData["Title"] = "Новый комментарий";
}

<h4>Новый комментарий:</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountID" value="@Model.AccountID" />
            <input type="hidden" asp-for="Commented" value="@Model.Commented" />
            <input type="hidden" asp-for="PostId" value="@Model.PostId" />
            <div class="form-group">
                <textarea asp-for="CommentText" rows="5" class="form-control"></textarea>
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" asp-controller="Commentaries" asp-action="Create" formmethod="post" class="btn btn-primary">Отправить</button>
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId">Назад</a>
            </div>
        </form>
    </div>
</div>
