@using ScopeLap.Models.DataBaseEngine;
@model Post

@{
    ViewData["Title"] = "Добавление публикации";
}

<h1>Новая публикация</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <input type="hidden" asp-for="AccountID" value="@Convert.ToInt32(ViewBag.Id)" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PostText" class="control-label">Текст сообщения:</label>
                <textarea asp-for="PostText" rows="8" class="form-control"></textarea>
                <span asp-validation-for="PostText" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Content" class="control-label">Вложение:</label>
                <input type="file" asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div> *@
            <br />
            <div class="form-group">
                <input type="submit" value="Опубликовать" class="btn btn-primary" />
                <a asp-controller="Account" asp-action="UserPage">Отмена</a>
            </div>
        </form>
    </div>
</div>


